{
    "accessory": "BMW-Connected-Accessories",
    "type": "lights",
    "name": "BMW Lights",
    "vin": "WBAJN51060xxxxxxx",
    "username": "a@b.com",
    "password": "password",
    "client_id": "dbf0a542-xxxx-xxxx-xxxx-55172fbfce35"
}
